@import 'node_modules/modularscale-sass/stylesheets/modularscale';
@import 'node_modules/normalize.css/normalize.css';
@import 'helpers/helpers';


//$modularscale:();

$palette: (
        colors: (
                'jungle': $madras,
                'olive': $khaki,
                'sunset': $onion
        ),
        tones: (
                ‘dark’: 10,
                ‘normal’ : 0,
                ‘light’ : -10
        ),
        alpha: (
                ‘low’: 0.40,
                ‘medium’: 0.60,
                ‘high’: 0.80
        ),
        mix: (
                ‘color’: #ff0000,
                ‘keep’: 100%
        )
);


@debug ms(0);
$mymap:map_get($type-style, 'default' );
@debug (map-deep-get($mymap, 'children', h1));

//$mymap:map_get($type-style, 'default' );
@debug $mymap;


@function get-default($conf: (),$key:default) {
        @return  map-get($conf, $key);

}
/*$container-default: (
        width: 100%,
        height: auto,
        color: white,
        background: black,
        duration: 250ms,
        name: '.component',
        padding:20px,
        border-width: 1px 2em 0 4rem,
        border: solid #ff0000,
);*/

%specialchildprops {
        display: block;
        background: blue;

}
%specialchildprops2 {
        display: block;
        background: chartreuse;

}

@mixin generateButtons($key : map_get($component-key-set,default), prefix:'' ){

    $themeset-inverted: map-swap-key(map_get($themeset,secondary), foreground, background);
        $themeset-accent:map-swap-key(map_get($themeset,secondary), accent, background);

        @include component('.btn-secondary' + 'testing',get-default($containerset),map_get($themeset,secondary));
        @include component('.btn-secondary-inverted',get-default($containerset),$themeset-inverted);
        @include component('.btn-secondary-accent',get-default($containerset),$themeset-accent);

}
//@debug


html {
@include generateButtons();
}

.sixteen-nine{
        display: block;
}